.title-newprod {
   margin: 5% 10%;
}

.main-newprod {
   display: flex;
   margin: 5% 10%;
}

.left-newprod {
   flex: 1;
}

.img-newprod {
   border-radius: 50%;
   height: 300px;
   width: 300px;
}

.button-newprod {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.delivery-hour {
   margin-top: 20px;
}

.name-delivery {
   margin-bottom: 30px;
}

.take-picture {
   height: 70px;
   width: 100%;
   background: #0b132a;
   border-radius: 10px;
   border: none;
   color: white;
   margin-top: 17px;
   font-weight: bold;
   font-size: 15px;
   line-height: 25px;
   margin-top: 30px;
   margin-bottom: 15px;
}

.choose-from-gallery {
   height: 70px;
   width: 100%;
   background: #ffba33;
   border-radius: 10px;
   border: none;
   color: #6a4029;
   margin-top: 17px;
   font-weight: bold;
   font-size: 15px;
   line-height: 25px;
   margin-bottom: 40px;
   cursor: pointer;
}

.choose-from-gallery:hover {
   background: #0b132a;
   color: #ededed;
}

.input-choose {
   text-align: center;
   margin-top: 20px;
}

.category-non {
   margin: 3% 3%;
   background-color: #ededed;
   height: 50px;
   width: 50%;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 15px;
   text-align: center;
   cursor: pointer;
}

.category-active {
   background-color: #ffba33;
   margin: 3% 3%;
   height: 50px;
   width: 50%;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 15px;
   text-align: center;
   cursor: pointer;
}

.form-date-delivery {
   display: flex;
   flex-direction: column;
}

.input-stock {
   display: flex;
   flex-direction: column;
}

.input-stock label {
   margin-top: 10px;
   margin-bottom: 20px;
}

.input-stock-newprod {
   height: 50px;
   border-radius: 10px;
}

/* right-content */
.right-newprod {
   margin-left: 10%;
   flex: 2;
}

.input-desc-newprod {
   display: flex;
   flex-direction: column;
}

.home-delivery {
   margin: 0px 10px;
   height: 50px;
   width: 30%;
   background: #ffba33;
   border-radius: 10px;
   border: none;
   color: #6a4029;
   margin-top: 17px;
   font-weight: bold;
   font-size: 15px;
   line-height: 25px;
   margin-bottom: 11px;
}

.save-product-delivery {
   height: 70px;
   width: 100%;
   background: #6a4029;
   border-radius: 10px;
   border: none;
   color: white;
   margin-top: 40px;
   font-weight: bold;
   font-size: 15px;
   line-height: 25px;
   margin-bottom: 11px;
}

.link-save-newprod {
   color: #ededed;
   text-decoration: none;
}

.link-save-newprod:hover {
   color: #ededed;
}

.save-product-delivery:hover {
   background: #4f5665;
}

.cancel-delivery {
   height: 70px;
   width: 100%;
   background: #bababa;
   border-radius: 10px;
   border: none;
   color: #4f5665;
   margin-top: 40px;
   font-weight: bold;
   font-size: 15px;
   line-height: 25px;
   margin-bottom: 11px;
}

.cancel-delivery:hover {
   background-color: #ffba33;
}
