.history-main-container {
   background-image: url('../../assets/bg-history.png');
   background-size: cover;
   background-position: 50% 40%;
   min-height: 1000px;
   padding: 50px 7.5%;
}

.history-title {
   color: #ffffff;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
   margin-bottom: 20px;
}

.history-title h1 {
   font-family: Rubik;
   font-size: 40px;
   font-weight: 700;
   line-height: 47px;
   letter-spacing: 0em;
   text-align: center;
}

.history-title p {
   font-family: Rubik;
   font-size: 20px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0em;
   text-align: center;
}

.history-select-all {
   font-family: Poppins;
   font-size: 18px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: 0em;
   text-align: right;
   text-decoration-line: underline;
   cursor: pointer;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -o-user-select: none;
}

.history-select-all:hover {
   color: #e9e6e6;
}

.history-select-all:active {
   color: #ffffff;
}

.history-product-card {
   /* width: 30%; */
   min-height: 120px;
   padding: 10px 1%;
   margin: 10px 1%;

   background: #ffffff;
   box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
   border-radius: 20px;
   display: flex;
}

.history-product-img-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 2%;
   border-radius: 50%;
}

.history-product-img {
   width: 80px;
}

.history-product-info {
   display: flex;
   flex-direction: column;
}

.history-product-name {
   font-family: Poppins;
   font-size: 22px;
   font-weight: 700;
   line-height: 38px;
   letter-spacing: 0em;
   text-align: center;
   color: #000000;
}

.history-product-price-status-container {
   display: flex;
}

.history-product-price-status {
   flex: 3;
}

.history-product-price {
   font-family: Poppins;
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
   letter-spacing: 0em;
   text-align: left;
   color: #895537;
}

.history-product-status {
   font-family: Poppins;
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
   letter-spacing: 0em;
   text-align: left;
}
