*,
body,
html {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.sideBar {
   display: flex;
   height: 1265px;
   align-items: flex-start;
   justify-content: center;
   border-right: 0.5px solid #9f9f9f;
}
.promoTitle {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.promoTitle > h3 {
   font-size: 25px;
   font-weight: 700;
   color: #6a4029;
   padding: 29px;
}
.imgContainer {
   margin: 0vh 10vh;
   position: relative;
   background: #ffcb65;
   height: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: start; */
   border-radius: 20px;
   z-index: 5;
}
.discount {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.imgContainer > img {
   border-radius: 50%;
   padding: 10px 50px;
   margin-top: 20px;
}
.layer {
   position: relative;
}
.blackLayer {
   width: 50%;
   margin: 0vh 5vh;
   height: 400px;
   background-color: #000000;
   border-radius: 20px;
   position: absolute;
   top: 7vh;
   left: 15vh;
   z-index: 4;
}
.brownLayer {
   width: 50%;
   margin: 0vh 3vh;
   height: 300px;
   background-color: #6a4029;
   border-radius: 20px;
   position: absolute;
   top: 13vh;
   left: 18vh;
   z-index: 3;
}
.promo-title {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.dashLine {
   border-bottom: 1px dashed #000000;
   width: 100%;
}
.coupon {
   margin-top: 30px;
}
.apply {
   display: flex;

   align-items: center;
   justify-content: center;
}
.applyCoupon {
   width: 70%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #6a4029;
   margin-top: 45px;
   height: 64px;
   border-radius: 20px;
   color: white;
   font-size: 17px;
   font-weight: 700;
   margin-bottom: 112px;
   cursor: pointer;
}
.applyCoupon:active {
   background-color: #a37860;
}
.terms {
   margin-left: 40%;
}
.terms > h5 {
   font-size: 12px;
   font-weight: 700;
}
.terms > p {
   font-size: 12px;
   font-weight: 400;
}
.productHeader {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 120px;
   font-size: 20px;
   font-weight: 400;
   color: #9f9f9f;
   cursor: pointer;
}

.headerItem {
   color: #6a4029;
}

.headerItem-active {
   font-weight: 700;
   text-decoration: underline;
   color: #6a4029;
}

.favoriteProduct {
   padding: 15px 30px;
}
.productContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 300px;
   border-radius: 30px;
   margin-bottom: 30px;
}
.cardProduct {
   width: 156px;
   position: relative;
   height: 212px;
   background-color: #ffffff;
   box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
   border-radius: 30px;
}
.imgProduct {
   position: absolute;
   border-radius: 50%;
   top: -80px;
   left: 15px;
}
.productName {
   margin-top: 20px;
   text-align: center;
   font-size: 22px;
   font-weight: 700;
}

.price-product {
   margin-top: 25px;
   text-align: center;
   font-weight: 500;
}

.paginasi-product {
   display: flex;
   justify-content: center;
}

.paginasi-product-icon {
   justify-content: space-between;
   height: 30px;
   width: 30px;
   cursor: pointer;
}

.page-number {
   font-weight: 500;
   font-size: 20px;
   margin: 0px 20px;
}

.create-newprod {
   height: 40px;
   width: 30%;
   background: #6a4029;
   border-radius: 10px;
   border: none;
   color: #ffcb65;
   margin-top: 17px;
   font-weight: bold;
   font-size: 15px;
   line-height: 25px;
   margin-bottom: 11px;
   margin-left: 40px;
}

.link-newprod {
   color: #ffffff;
   text-decoration: none;
}

.link-newprod:hover {
   color: #ffffff;
}

.img-edit-product {
   border-radius: 50%;
   z-index: 1;
   justify-content: end;
   text-align: end;
   margin-bottom: 300px;
   margin-left: 25px;
   position: absolute;
   width: 35px;
   height: 35px;
}
